body {
    background-color: #777;
    padding: 1%;
    margin: 1%;

}

header {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
    
}

nav {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
}

.section {
    background-color: #ebebeb;
    text-align: center;
    padding: 120px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    float: left;
    width: 15%;
   
  

}

.aside {
    background-color: #ebebeb;
    text-align: center;
    padding: 120px 120px 270px 120px;
    margin-bottom: 20px;
    margin-right: 8%;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    float: right;
    width: 17%;
}



.article {
    background-color: #777;
    color: #ebebeb;
    padding: 10px;
    
}

.footer {
    background-color: #ebebeb;
    padding: 25px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 7.8%;
    clear: both;
    text-align: center;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;

}

.h1 {
    background-color: #ebebeb;
    color: #777;

}

.p {
    background-color: #ebebeb;
    color: #777;
}

