body {
    background-color: #777;
    padding: 1%;
    margin: 1%;

}

header {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
    
}

nav {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
}

section {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
    float: left
}

#left {
    float: left;
}

#right {
    float: right;
}

aside {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
    float: right
}



article {
    background-color: #777;
    color: #ebebeb;
    width: 960px;
}

footer {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    width: 960px;
}